* {
  margin: 0px;
}

body {
  background-image: linear-gradient(to right, white, rgb(248, 206, 255));
}

.navbar {
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: row;
  background-color: rgb(121, 36, 201);
  width: 100%;
  height: 45px;
  justify-content: flex-start;
  align-items: center;
}

.navbar>svg {
  margin-left: 3%;
  margin-right: 4%;
  color: white;
}

.navbar>a {
  margin-right: 3%;
  color: white;
  font-size: 23px;
  text-decoration: none;
}

.navbar>a:hover,
.navbar>.active {
  color: burlywood;
}

.navbar>.RS,
.navbar>.RS1 {
  margin-right: 2%;
  text-align: center;
}

.navbar>.RS1 {
  margin-left: 40%;
}

/*tooltip*/
.RS,
.RS1 {
  position: relative;
  display: inline-block;
}

.RS .tooltiptext,
.RS1 .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 15px;
  font-weight: bold;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  margin-left: -60px;
}

.RS:hover .tooltiptext,
.RS1:hover .tooltiptext {
  visibility: visible;
  z-index: 1;
}


/*tooltip*/

.header {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title {
  margin-top: 120px;
  flex: 50%;
}

.title p {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.desc {
  font-size: 25px;
  margin-left: 5%;
}

.image {
  margin-top: 5%;
  flex: 40%;
  width: 30%;
}

/*responsive site*/
@media screen and (max-width: 700px) {

  .row {
    flex-direction: row;
  }

  .navbar>a {
    font-size: 17px;
  }

  .header {
    margin-top: 0px;
  }

  .image {
    left: 30px;
    flex: 100%;
  }

  .title>p {
    font-size: 27px;
  }

  .desc {
    font-size: 20px;
    font-weight: lighter;
  }

  .navbar>.RS,
  .navbar>.RS1 {
    margin-right: 1%;
    margin-left: 1%;
  }

  .navbar>.RS1 {
    margin-left: 1%;
  }


  .btn {
    left: 30%;
    width: 43%;
  }

  .btn>a {
    font-size: 17px;
  }

  .row>.sidebar {
    display: none;

  }



  .row>.note {
    margin-top: 2%;
    width: 96%;
  }

  .row>.note>p {
    padding-top: 5.5%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .title {
    border-top: 0px;
  }

  .cdn {
    font-size: 15px;
    overflow-x: scroll;
    margin-right: 1%;
  }


}



button {
  position: relative;
  left: 17%;
  height: 50%;
  width: 20%;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 7px;
  background-color: rgb(121, 36, 201);
  border-color: blueviolet;
  z-index: -1;
  cursor: pointer;

}

button>a {
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

button:hover {
  border: 2px solid rgb(121, 36, 201);
  background-color: rgb(155, 59, 245);
  border-color: (0, 0, 0, 0.5);

}



/*responsive site*/
/*  <!--DEFINITION-->*/
.row {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5%;
  z-index: -1;

}

.sidebar {
  z-index: -1;
  flex: 25%;
  padding-top: 3%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 0.5%;
  padding-right: 2%;
}

.sidebar>div {
  position: sticky;
  padding-left: 0%;
  padding-top: 8%;
  top: 0;
  left: 0;
  height: 100vh;
}


.sidebar ul li {
  font-size: 20px;
  list-style-type: circle;
  color: rgb(78, 77, 77);
}

.note {
  flex: 65%;
  margin-left: 3%;
  margin-right: 3%;

}

.title {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

p {
  font-size: 20px;
}

.ndtxt {
  padding-left: 4%;
  font-size: 19px;
}

.ndtitle {
  font-weight: bold;
  text-decoration: underline;
  color: burlywood;
}

.non {
  font-size: 20px;
}

.cdn {
  left: 10px;
  padding: 10px;
  width: 96%;
  background-color: rgb(197, 196, 196);
  color: rgb(121, 36, 201);
  font-size: 18px;
}

/*  <!--DEFINITION-->*/
/*pagiantion*/
.center {
  text-align: center;
}

.pagination {

  display: inline-block;

}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 22px;
}

.pagination a:hover {
  background-color: darkgray;

}

.pagination a.active {
  background-color: rgb(121, 36, 201);
  color: white;
}

/*pagiantion*/